@import './vars';

.app-footer {
  bottom: 0;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  font-size: $primaryFontSize;
  margin-bottom: 3px;
  margin-top: 3px;
  max-height: 10vh;
  padding: 3px;
  position: absolute;
  width: 99%;

  &-complete {
      min-width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &-status {
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
      flex-grow: 1;
  }
}
