@import './vars';

.todo-item {
    display: flex;
    flex-direction: row;
    font-size: $primaryFontSize;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
    position: relative;

    border: 1px solid yellow;

    &-complete {
        min-width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-text {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        flex-grow: 1;

        &-input {
            width: 100%;
            text-align: center;
            border: none;
        }
        
        &.completed &-input {
            text-decoration: line-through;
        }
    }

    &-delete {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
